/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color: #fff;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*======================*/
.wrapper {
   max-width: 1550px;
   margin: 0 auto;
   /* padding: 0px 0px; */
   display: flex;
   flex-direction: column;
   
}
.left-column {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: center;
   align-items: center;
   color: #fff;
}
.right-column {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px 60px;
}
/* ========================== */
.body {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   font-family: 'Inter', sans-serif;
}
.header {
   width: 100%;
   background-color: #AF1B2D;
}
.header-nav {
   display: flex;
   background-color: #AF1B2D;
}
.header-list {
   width: 100%;
   display: flex;
   align-content: center;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px 60px;
}
.header-item {
   margin: 10px;
}
.header-link {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.8;
   color: #fff;
}
.header-content {
   display: flex;
   align-content: center;
   justify-content: space-around;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 50px;
   border-radius: 100px 0px 0px 100px;
   background-color: #fff;
}
.header-img {
   width: 160px;
   height: 160px;
   background-color: #AF1B2D;
}
.header-title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   line-height: 1.7;
   word-spacing: 20px;
   padding-top: 60px;
   color: #282F39;
}
.header-title span {
   color: #AF1B2D;
}
.header-text {
   margin-bottom: 100px;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   color: #000000;
}
/* =============================== */
.main {
   display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
   background-color: #fff;
}
.main-sections {
   padding: 50px;
}
.main-titles {
   display: inline-block;
   padding: 5px 10px;
   margin-bottom: 25px;
   font-size: 20px;
   color: #fff;
   border: solid #fff 3px;
}
.dark {
   width: 100%;
   border-radius: 0px 120px 120px 0px;
   background-color: #282F39;
}
.red-top {
   border-radius: 0px 120px 120px 0px;
   background-color: #AF1B2D;
}
.bgc-red {
   background-color: #AF1B2D;
}
.dark-medium {
   background-color: #282F39;
   border-radius: 105px 0px 0px 105px;
}
.red-bottom {
   border-radius: 0px 120px 120px 0px;
   background-color: #AF1B2D;
}
.dark ul {
   margin-left: 10px;
   font-size: 16px;
}
.dark li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   padding: 0px 0px 10px 5px;
}
.star {
   font-size: 24px;
   color: #fff;
}
.checked {
   left: 200px;
   color: gold;
}







/* .footer {
   display: flex;
   background-color: #AF1B2D;
}
.content {
   background-color: #fff;
   border-radius: 100px 0px 0px 0px;
}
.footer-left {
   padding: 50px;
} */